Package: com.zest.lienquan
Name: Liên Quân Mod Menu
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Liên Quân Mod Menu
Maintainer: zest
Author: zest
Section: Liên Quân
Homepage: https://zesttbz.github.io
Version: 0.1.0

